<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/edit">
    <legend>name</legend>
    <input name="name" type="text" value=" <%= gameName %> " />
    <legend>developer</legend>
    <input name="developer" type="text" value=" <%= gameDeveloper %> " />
    <legend>stock</legend>
    <input name="stock" type="text" value=" <%= gameStock %> " />
    <legend>price</legend>
    <input name="price" type="text" value=" <%= gamePrice %> " />
    <legend>GameID</legend>
    <input name="id" type="text" value=" <%= gameId %> " />
    <button>Save</button>
    </form>
  </body>
</html>
